.block-hero {
  justify-content: center;
  align-items: center;

  .block-content {
    h1 {
      font-size: 28px;
      @media (min-width: theme("screens.md")) {
        font-size: 36px;
        
      }
    }

    h2 {
      font-size: 18px;
      @media (min-width: theme("screens.md")) {
        font-size: 24px;
      }
    }

    p {
      @media (min-width: theme("screens.md")) {
        max-width: 75%;
      }

      @media (min-width: theme("screens.lg")) {
        max-width: 50%;
      }
    }
  }

  &--shallow {
    margin-bottom: 24px;
    .block-content {
     text-align: center;
    }
  }
}