
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
h1 {
  @apply text-2xl md:text-4xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}

.content {
  h3 {
    @apply text-lg font-bold;
  }
  p {
    @apply mx-auto my-1;

    ~ h3 {
      @apply mt-4
    }
  }
}

.accordion {
  .accordion-item {
    ol {
      list-style: decimal;
      padding-left: 20px;
    }
  }
}


.navbar {
  background: rgba(28, 28, 28, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}